
//customization

@import "~bulma/sass/utilities/_all";

$blue               : #04a0e6;
$dark               : #232526;
$dark-invert        : #fff;
$facebook           : #3b5898;
$google-plus        : #dd4a3d;
$body-bg            : #bcd2df;
$input-bg           : #f6fafc;
$label-color        : #4b5b64;

$family-sans-serif  : 'Helvetica nue', sans-serif;


$primary            : $blue;
$primary-invert     : $dark-invert;
$family-primary     : $family-sans-serif;


$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white"         : ($white, $black),
    "black"         : ($black, $white),
    "light"         : ($light, $light-invert),
    "dark"          : ($dark, $dark-invert),
    "primary"       : ($primary, $primary-invert),
    "info"          : ($info, $info-invert),
    "success"       : ($success, $success-invert),
    "warning"       : ($warning, $warning-invert),
    "danger"        : ($danger, $danger-invert),
    "twitter"       : ($twitter, $twitter-invert)
);

// Links
$link               : $primary;
$link-invert        : $primary-invert;
$link-focus-border  : $primary;

//measurements

$body-height        : calc(100vh - 196.3px ); 


@import "~bulma";
@import "~buefy/src/scss/buefy";

//custom mixins

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
        -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
} 
@mixin transition($property,$easing,$duration){
    -webkit-transition: $property $easing $duration;
    -moz-transition: $property $easing $duration;
    -o-transition: $property $easing $duration;
    transition: $property $easing $duration;
}

@mixin afterborder-left($height, $width, $color){
    content: '';
    border-left: $width solid $color;
    height: $height;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

@mixin afterborder-right($height, $width, $color){
    content: '';
    border-right: $width solid $color;
    height: $height;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

// Defaults
html{
    overflow-y: auto;
}
.section.landing{
    height: $body-height;
    min-height: 571.7px;
}
.section{
    min-height: $body-height;
}
input, textarea, select{
    background-color: $input-bg !important;
    border: #dee8ec;
    box-shadow: none !important;
    @include border-radius(0px);
}
.field label{
    color: $label-color ;
    font-size: .8em;
}